<?xml version="1.0"?>

<!-- Example 3, launches the centralised auction node to generate waypoint order.
     The waypoint follower node receives this and produces pose arrays that can 
     be viewed in RVIZ, as well as move_base commands. The commands are then 
     executed on the simulated Jackals. -->
<launch>
  <!-- Start Gazebo with an empty world. -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug"        value="false"/>
    <arg name="gui"          value="false"/>
	  <arg name="headless"     value="true"/>			
    <arg name="world_name"   value="$(find multi_jackal_tutorials)/worlds/slow_world.world"/>
    <arg name="paused"       value="false"/>
  </include>
  
  <!-- Spawn the robots. -->
  <include file="$(find multi_jackal_base)/launch/jackal_base.launch">
    <arg name="ns"            value="jackal0"/>
  </include>

  <!-- Launch waypoint following.
       tasks:  x,y,z,  x,y,z,w
       robots: x,y,z                 -->
  <node pkg="centralised_auction" type="centralised_auction_node" name="centralised_auction" output="screen">
    <param name="prefix" value="jackal"/>
    <rosparam param="tasks">[-4, 2, 0,  0, 0, 0, 1,
                             -3,-4, 0,  0, 0, 0, 1,
                             -1,-4, 0,  0, 0, 0, 1,
                             -1, 2, 0,  0, 0, 0, 1, 
                              3, 4, 0,  0, 0, 0, 1,
                              4, 4, 0,  0, 0, 0, 1,
                              3,-4, 0,  0, 0, 0, 1]
    </rosparam>
    <rosparam param="robots">[0, 0, 0]
    </rosparam>      
  </node>
  
  <!-- Launch waypoint following. Change out put to 'screen' or 'log' to show
       or hide terminal output.-->
  <node ns="jackal0" pkg="waypoint_follower" type="waypoint_follower2_node" 
        name="waypoint_follower" output="log">
    <param name="odom_frame"       value="jackal0/odom"/>
    <param name="baselink_frame"   value="jackal0/base_link"/>
    <param name="lin_vel"          value="0.5"/>
    <param name="ang_vel"          value="1.5"/>
    <remap from="set_waypoints"    to="tasks"/>
  </node>
  
  <!-- Display on RVIZ. -->
  <group if="true">
    <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find centralised_auction)/config/rviz3.rviz">
    </node>
  </group>  
  
</launch>
