<?xml version="1.0"?>
<launch>

  <!-- Launch waypoint following.
       tasks:  x,y,z,  x,y,z,w
       robots: x,y,z                 -->
  <node pkg="centralised_auction" type="centralised_auction_node" name="centralised_auction" output="screen">
    <rosparam param="tasks">[ 1, 0, 0,  0, 0, 0, 1,
                              2, 0, 0,  0, 0, 0, 0, 
                              3, 0, 0,  0, 0, 0, 0]
    </rosparam>
    <rosparam param="robots">[0,  0, 0,
                              1,  0, 0]
    </rosparam>      
  </node>
  
  <!-- Launch waypoint following. -->
  <node ns="robot0" pkg="waypoint_follower" type="waypoint_follower_node" name="waypoint_follower" output="screen">
    <remap from="set_waypoints" to="tasks"/>
  </node>
  <node ns="robot1" pkg="waypoint_follower" type="waypoint_follower_node" name="waypoint_follower" output="screen">
    <remap from="set_waypoints" to="tasks"/>
  </node>
  
  <!-- Create static map to odom transforms. -->
  <node ns="robot0" pkg="tf" type="static_transform_publisher" name="static_map_odom_tf"
			  args="0 0 0 0 0 0 map robot0/odom 100"/>
	<node ns="robot1" pkg="tf" type="static_transform_publisher" name="static_map_odom_tf"
			  args="0 0 0 0 0 0 map robot1/odom 100"/>		  
  
  <!-- Display on RVIZ. -->
  <group if="true">
    <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find centralised_auction)/config/rviz.rviz">
    </node>
  </group>  
  
</launch>
