<?xml version="1.0"?>

<!-- Example 1, launches the centralised auction node to generate waypoint order.
     Nothing to see in RVIZ, but will produce topics robot0/tasks and 
     robot1/tasks, which are waypoint arrays. -->
<launch>

  <!-- Launch waypoint following.
       tasks:  x,y,z,  x,y,z,w
       robots: x,y,z                 -->
  <node pkg="centralised_auction" type="centralised_auction_node" name="centralised_auction" output="screen">
    <rosparam param="tasks">[ 1, -1, 0,  0, 0, 0, 1,
                             -1,  1, 0,  0, 0, 0, 1, 
                              2, -2, 0,  0, 0, 0, 1,
                             -2, -4, 0,  0, 0, 0, 1]
    </rosparam>
    <rosparam param="robots">[1, 0, 0,
                             -1, 0, 0]
    </rosparam>      
  </node>
  
</launch>
