<?xml version="1.0"?>

<!-- Example 2, launches the centralised auction node to generate waypoint order.
     The waypoint follower node receives this and produces pose arrays that can 
     be viewed in RVIZ. -->
<launch>

  <!-- Launch waypoint following.
       tasks:  x,y,z,  x,y,z,w
       robots: x,y,z                 -->
  <node pkg="centralised_auction" type="centralised_auction_node" 
        name="centralised_auction" output="screen">
    <rosparam param="tasks">[ 1, -1, 0,  0, 0, 0, 1,
                             -1,  1, 0,  0, 0, 0, 1, 
                              2, -2, 0,  0, 0, 0, 1,
                             -2, -4, 0,  0, 0, 0, 1]
    </rosparam>
    <rosparam param="robots">[1, 0, 0,
                             -1, 0, 0]
    </rosparam>    
  </node>
  
  <!-- Launch waypoint following. -->
  <node ns="robot0" pkg="waypoint_follower" type="waypoint_follower2_node" name="waypoint_follower" output="screen">
    <param name="odom_frame"       value="robot0/odom"/>
    <param name="baselink_frame"   value="robot0/base_link"/>
    <remap from="set_waypoints"    to="tasks"/>
  </node>
  <node ns="robot1" pkg="waypoint_follower" type="waypoint_follower2_node" name="waypoint_follower" output="screen">
    <param name="odom_frame"       value="robot1/odom"/>
    <param name="baselink_frame"   value="robot1/base_link"/>
    <remap from="set_waypoints"    to="tasks"/>
  </node>
  
  <!-- Create static map to odom transforms. -->
  <node ns="robot0" pkg="tf" type="static_transform_publisher" name="static_map_odom_tf"
			  args="0 0 0 0 0 0 map robot0/odom 100"/>
	<node ns="robot1" pkg="tf" type="static_transform_publisher" name="static_map_odom_tf"
			  args="0 0 0 0 0 0 map robot1/odom 100"/>		  
  
  <node ns="robot0" pkg="tf" type="static_transform_publisher" name="static_map_odom_tf2"
			  args="0 0 0 0 0 0 robot0/odom robot0/base_link 100"/>
	<node ns="robot1" pkg="tf" type="static_transform_publisher" name="static_map_odom_tf2"
			  args="0 0 0 0 0 0 robot0/odom robot0/base_link 100"/>	
        
  <!-- Display on RVIZ. -->
  <group if="true">
    <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find centralised_auction)/config/rviz.rviz">
    </node>
  </group>  
  
</launch>
